
body {
  background-color: cadetblue;
  background-position: 100%;
}
header {
  background-color: blue;
  color: red;
  width: 100%;
  align-content: center;
}
header img {
  display:inline-block;
  align-items:end;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

#headContainer {
  display: inline-flex;
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
  justify-content: space-around;
  height: 30vh;
  width: 100%;
  margin-left: -10px;
  margin-right: -10px;
}

nav {
  display: flex;
  align-items:end;
  flex-direction: column;
  justify-content: space-around;
}
nav > ul > li {
  display: inline-block;
  justify-content:space-around;
  border-radius: 20px;
  border: 2px solid;
  padding: 0.5rem 0.5rem;
}
@media (min-width: 800px) {
  nav > .fa-bars {
    display: none;
  }
}

@media (max-width: 800px) {
  .hidden--mobile {
    display: none;
  }
}

/* form.flex-item2 {
  display: table;
} */
div.flex-item2 {
  display: table-row;
}
label,
input {
  display: table-cell;
  margin-bottom: 10px;
}
/* label {
  padding-right: 10px;
} */

.flex-item2 {
  width: 25em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
.flex-item2 {
  display:flex;
  align-items: center;
  /* text-align: center; */
  justify-content:center;
  /* height: 8em; */
}
div.flex-container1 {
  display: table-row;

}
.flex-container1 {
  object-position: right center;
}

/* .flex-container1 {
  display:flex;
  align-items: center;
  justify-content:right;
} */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

h1 {
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: 700;
  text-align: center;
}
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: 700;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight:900;
  text-decoration: underline;
  text-align: center;
}

footer {
  text-align:left;
  border-style: double;
  font-weight:400
}
.videos {
  text-align: center;
  border-style:solid;
}
/*
.senseiWork {
  display: flex;
  flex-direction: row;
  width: 25%
} */
/* .senseiWork > img {
  display:flex;
  flex-direction: column;
  align-items:center;
  order: -1;
}
